

    /* Estilos para a página de login e cadastro */
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #2f3b52, #1a1e29);
        color: #f4f4f9;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden; 
    }

    header {
        background: linear-gradient(135deg,rgb(170, 93, 10), #388e3c); 
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s, transform 0.3s;
    }

    nav a:hover {
        color:rgb(15, 15, 156); 
        transform: scale(1.1);
    }

    .intro {
        text-align: center;
        padding: 50px;
        background: linear-gradient(135deg,rgb(4, 37, 44),rgb(54, 68, 54));
        margin-top: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        flex-grow: 1; 
    }

    .cta-buttons {
        margin-top: 30px;
    }

    .cta-button {
        background: linear-gradient(135deg, #4CAF50, #388e3c); 
        color: white;
        padding: 15px 30px;
        font-size: 18px;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 10px;
        transition: background 0.3s, transform 0.3s;
    }

    .cta-button:hover {
        background: linear-gradient(135deg, #388e3c, #4CAF50); 
        transform: scale(1.1);
    }

    .cards {
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    .card {
        background: #1a1e29;
        color: white;
        padding: 20px;
        width: 25%;
        text-align: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
        background: #2f3b52;
    }

    .about {
        text-align: center;
        padding: 50px;
        background: linear-gradient(135deg,rgb(4, 37, 44),rgb(54, 68, 54));
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    footer {
        text-align: center;
        background-color: #1a1e29;
        color: white;
        padding: 20px;
        width: 100%;
        margin-top: auto;
    }